<ng-container>
  <header>
    <a routerLink="/loan/all-requests">
      <div class="pt-3 pb-2 border-bottom">
        <div class="row">
          <div class="col-2 text-center">
            <img src="assets/svg/request.svg" alt="">
          </div>
          <div class="col px-0 align-self-center text-mute">
            وام های درخواستی من
            <div class="text-truncate" *ngIf="allRequestsLoan.length!==0">
              <small *ngFor="let item of allRequestsLoan.loanGuarantees">
                {{item.guarantorName}} ,
              </small>
              ...
            </div>
            <div class="text-truncate" *ngIf="allRequestsLoan.length==0">
              0
            </div>
          </div>
        </div>
      </div>
    </a>
  </header>
  <main *ngIf="loans">
    <div class="px-2">
      <h6 class="text-center text-info mt-4" *ngIf="loans.length==0">
        شما هیچ وامی ندارید
      </h6>
      <a class="row bg-white p-2 mt-2 rounded-20 shadow-sm" (click)="loanDetail(item.loanId)"
         *ngFor="let item of Templist">
        <div class="col">
          <span class="text-dark">
            شماره وام :
            <small>
            {{item.loanNumber}}
            </small>
          </span>
          <div class="text-mute" [ngClass]="{'text-turncate':item.loanGuarantees.length>2}">
            <small *ngFor="let item of item.loanGuarantees">
              {{item.description}}
            </small>
          </div>
        </div>
        <div class="align-self-center text-dark px-0" style="direction: ltr;">
          <div class="circle mr-1" *ngFor="let items of item.installments.slice(0,5)"
               [ngClass]="{'bg-success':items.installmentState==190301 , 'bg-danger text-light':items.installmentState==190304 ,
                'bg-warning':items.installmentState==190303 , 'bg-gray':items.installmentState==190302}">
            <small>
              {{items.installmentNumber}}
            </small>
          </div>
        </div>
      </a>
    </div>
    <div class="float-button">
      <a class="btn bg-yellow rounded-pill shadow-xl" routerLink="/loan/new-loan">
        <small>
          <i class="fa fa-plus"></i>
          وام جدید
        </small>
      </a>
    </div>
  </main>
</ng-container>
