<ng-container>
  <div class="bg-lightPurple rounded-20 p-3">
    <div class="row">
      <div class="col-2">
        <img src="assets/images/profile-photo.png" alt="">
      </div>
      <div class="col text-mute align-self-center">
              <span class="h5">
                سارا عظیمی
              </span>
        <div>
        </div>
      </div>
    </div>
    <div class="row mt-2 text-mute">
      <div class="col">
        <label>
          حق عضویت شما :
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="text-left text-darkBlue">
          1000000
        </h6>
      </div>
    </div>
    <div class="row text-mute">
      <div class="col">
        <label>
          ضمانت شما برای دیگران :
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="text-left text-mute">
          100000 ریال
        </h6>
      </div>
    </div>
    <div class="row text-mute">
      <div class="col">
        <label>
          تاریخ درخواست خروج :
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="text-left text-mute">
          1399/12/05
        </h6>
      </div>
    </div>
  </div>
  <div class="row mx-0 mt-3">
    <div class="col">
      <h5 class="text-mute">
        دلیل درخواست خروج از دایره :
      </h5>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col">
      <h5 class="text-left text-mute">
        عملکرد نا مناسب مدیر
      </h5>
    </div>
  </div>
  <div class="row mx-0 mt-2">
    <div class="col">
      <p class="text-mute">
        درصورتی که با درخواست خروج کاربر موافقت کنید
        شما عهده دار مبلغ ضمانت این کاربر خواهید بود و این به این معناست که یا باید از اعتبار خودتان در دایره مبلغ را
        جایگزین کنید یا یک فرد جدید به دایره دعوت کنید، لذا هنگام تایید درخواست خروج نهایت دقت را داشته باشید .
      </p>
    </div>
  </div>
  <div class="row mx-0 mt-2">
    <div class="col">
      <h5 class="text-darkBlue">
        تاریخ پیشنهادی ما برای قبول این در خواست خروج 1400/1/5 می باشد .
      </h5>
    </div>
  </div>
  <div class="btn-fix">
    <div class="row">
      <div class="col text-center">
        <button type="button" class="btn text-danger">
          مخالفت
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button type="submit"
                class="btn btn-link btn-success text-light mb-4 w-75 rounded-pill">
          موافقت با خروج و عهده دار شدن ضمانت
        </button>
      </div>
    </div>
  </div>
</ng-container>
