<ng-container>
  <div class="row my-2 mx-0">
    <div class="col text-mute">
      <span>
        موارد زیر پیشنهاد هایی هستند که با توجه به نیاز شما محاسبه شده اند. میتوانید یکی از این روش ها را برای دریافت وام در پیش بگیرید.
      </span>
    </div>
  </div>
  <div class="mr-2 mt-3">
    <mat-checkbox class="w-100">
      <h5 class="text-yellow">
        بهترین پیشنهاد
      </h5>
    </mat-checkbox>
    <div class="mb-3">
    <span class="text-mute">
      یک دایره با حداقل 5 عضو ایجاد کنید و حداقل 35000000 ریال حق عضویت برای اعضا تعیین کنید
    </span>
    </div>
    <mat-checkbox class="w-100 mt-3">
      <h5 class="text-yellow">
        پیشنهاد دوم
      </h5>
    </mat-checkbox>
    <span class="text-mute">
    از مدیر دایره دوستان بخواهید دو نفر را به دایره اضافه کند
  </span>
  </div>
  <div class="btn-fix">
    <div class="row">
      <div class="col text-center">
        <a type="submit" routerLink="/main/loan"
           class="btn btn-link bg-yellow text-dark mb-4 w-75 rounded-pill">
          تایید
        </a>
      </div>
    </div>
  </div>
</ng-container>
