<ng-container>
  <div class="bg-lightPurple rounded-20 p-3">
    <div class="row">
      <div class="col-2">
        <img src="assets/images/profile-photo.png" alt="آواتار">
      </div>
      <div class="col text-mute align-self-center">
              <span>
          سارا پیرزاده
              </span>
        <div>
          <small>
            دایره سازمانی / مدیر : علی کاظمی
          </small>
        </div>
      </div>
    </div>
    <div class="row mt-2 text-mute">
      <div class="col">
        <label>
          حق عضویت :
        </label>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h6 class="text-left text-darkBlue">
          100000000 تا 200000000
        </h6>
      </div>
    </div>
    <div class="row text-mute">
      <div class="col">
        <label>
          الویت فرد :
        </label>
      </div>
    </div>
    <div class="row text-mute">
      <div class="col">
        <h6 class="text-left">
          از خرداد 1399
        </h6>
      </div>
    </div>
  </div>
  <div class="bg-mutePurple rounded-20 py-3 mt-3">
    <div class="row mx-0">
      <div class="col text-center">
        <a routerLink="/fund/members-vote-list" class="text-dark">
          لیست رای اعضا
        </a>
      </div>
      <div class="col text-center">
        <a routerLink="/fund/terms" class="text-dark">
          قوانین و مقررات
        </a>
      </div>
    </div>
  </div>
  <div class="row justify-content-center mx-0 mt-3">
    <div class="col">
      <h5 class="text-mute">
        مهلت رای گیری :
      </h5>
    </div>
    <div class="col text-left">
      <h5 class="text-darkBlue">
        تا 1399/1/1
      </h5>
    </div>
  </div>
  <div class="row justify-content-center mx-0 mt-3">
    <div class="col">
      <p class="text-mute">
        در رای گیری عضو جدید حتی مخالفت یک نفر سبب عدم عضویت فرد جدید در دایره می شود . لذا در انتخاب خود دقت کنید .
      </p>
    </div>
  </div>
  <div class="btn-fix">
    <div class="row mb-3">
      <div class="col text-center">
        <button type="button" class="btn text-danger">مخالفم</button>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button type="submit" class="btn btn-link btn-success text-white py-2 mb-4 w-75 rounded-pill">
          موافقت
        </button>
      </div>
    </div>
  </div>
</ng-container>
